body{
    display: flex;
    justify-content: center;
    background-color: #483D8B;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
}